@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF-Flat-regular.eot);
    src: url(../fonts/JF-Flat-regular.eot?#iefix) format('embedded-opentype'), url('../fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'), url(../fonts/JF-Flat-regular.woff) format('woff'), url(../fonts/JF-Flat-regular.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal
}

body {
    font-family: 'JF-Flat-regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #5555;
    font-weight: 1.429;
}

.custom-navbar {
    border-bottom: 3px solid #EEF0EF;
    width: 100%;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;

}

.categories .nav-link {
    border-radius: 0;
    border-right: 0;
}

.dropdown-menu {
    text-align: right !important;
}

.custom-dropdown-menu {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    color: #777;
}

.custom-dropdown-menu .checkbox {
    display: inline-block;
    margin: 0 5px;
}

.custom-dropdown-menu .checkbox label input {
    margin-left: 5px;
}

.custom-navbar .search-btn {
    background-color: #FF3956;
    border-color: #FF3956;
    color: #fff;
    padding: 5px 15px 7px 15px;
    font-weight: 700;
    border-radius: 0;
}

.custom-navbar .search-btn:hover, .custom-navbar .search-btn:focus, .custom-navbar .search-btn:active, .custom-navbar .search-btn:active:focus, .custom-navbar .search-btn:active:hover {
    background-color: #C1201E;
    border-color: #C2101E;
    color: #ffff;
}

.custom-navbar .navbar-nav li a.nav-link {
    color: #555555;
    font-size: 18px;
    padding: 15px;
}

.custom-navbar .navbar-nav li a.nav-link:hover {
    color: #000;
}

.custom-navbar .navbar-nav li.active a.nav-link {
    color: #ff3956;
    border-bottom: 1px solid #ff3956;
    font-weight: 700;
}

.custom-navbar .navbar-nav li.active:hover a.nav-link {
    background-color: #e7e7e7e7;
}

.custom-dropdown-menu li a:hover {
    background-color: #c76068;
}

.custom-navbar a.btn-icon {
    padding: 5px 10px 4px;
    color: #777;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;
}

#carousel-featured .product-details h1 {
    color: #000;
    font-weight: 700;
    font-size: 175%;
    margin-top: 18px;
}

.custom-navbar .navbar-nav li:last-of-type {
    margin-top: 8px;
}

.custom-navbar .btn-icon:hover {
    color: #000000;
    background-color: #bfbfbf;
}

/*المنتجات المميزة*/

#carousel-featured {
    background-color: #f7f8f7;
    height: 400px;
    padding-top: 25px;
}

#carousel-featured .carousel-item img {
    height: 375px;
    margin-left: 0;
    margin-right: 0;
}

.carousel-row .col-12 {
    padding-right: 0px;
    padding-left: 0px;
}

#carousel-featured .product-details {
    padding: 20px;
    border: 1px solid #DDDDDB;
    position: relative;
    top: 50px;
    height: 200px;
}

#carousel-featured .product-details .product-category {
    padding: 10px;
    border: 1px solid #DDDDDB;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f7f8f3;
}

#carousel-featured .product-details .custom-btn-primary {
    color: #F8AD47;
    border-color: #F8AD47;
    background-color: transparent;
    padding: 9px 25px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 2px;
}

.sale {
    background-color: #53ccd7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}

.sale.large {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: -10px;
    top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    transform: rotate(-25deg);
    font-size: 100%;
    line-height: 90%;
    align-items: center;
    padding: 30px;
}

#carousel-featured .product-details .sale.large span {
    font-size: 14px;
}

.custom-carousel-indicators-primary {
    top: 265px;
    right: 41%;
}

.custom-carousel-indicators-primary img {
    height: 75px;
    width: 75px;
    background-color: #fff;
    border: 2px solid #DDDDDB;
    margin-right: 2px;
}

.custom-carousel-indicators-primary img.active {
    border-color: #F8AD47;
}

#carousel-featured .carousel-control-prev, #carousel-featured .carousel-control-next {
    color: #2f2d2d86;
}

.custom-heading {
    color: #777;
    font-size: 25px;
}

.font {
    font-size: 14px;
    color: #777;
    font-weight: bold;
}

#store-features {
    box-shadow: 0 0 15px #EEF0EF;
    position: relative;
    top: -30px;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top: 25px;
    background-size: auto 60%;
    background-position: -10px -20px;
}

#store-features .feature img {
    height: 40px;
    margin-bottom: 10px;
}

#store-features .feature+.feature {
    border-right: 2px solid #EEF0EF;
}

.custom-heading {
    margin-bottom: 14px;
}

.custom-thumbnail {
    border: #EEF0EF 2px solid;
    padding: 18px;
    margin-top: 12px;
}

.carousel-indicators li {
    border: 0;
}

.custom-thumbnail:hover {
    border: 2px solid #53ccd7;
    padding: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.custom-thumbnail .card-body {
    padding: 9px;
}

h4 {
    color: #555;
    padding-right: 9px;
    font-size: 18px;
}

.custom-thumbnail .price {
    padding-top: 10px;
}

.price {
    color: #53ccd7;
    font-size: 18px;
}

.rating .star {
    color: #b86d07;
}

.custom-thumbnail .overlay {
    position: absolute;
    background-color: rgba(83, 204, 215, .5);
    height: 250px;
    width: calc(100% - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s ease;
}

.overlay:hover {
    opacity: 1;

}

.custom-thumbnail .add-to-cart-btn {
    color: #53ccd7;
    background-color: #ece5e5;
    height: 40px;
    font-weight: bold;
}

.custom-thumbnail .sale {
    padding: 5px 10px;
    position: absolute;
    left: 16px;
    top: 14px;
    direction: ltr;
}

.custom-thumbnail .sale::before {
    content: '-';
}

.custom-carousel-indicators>li {
    height: 13px;
    width: 13px;
    margin: 2px;
    background-color: #dbdbdb;
    margin-top: 18px;
}

.custom-carousel-indicators>li.active {
    background-color: #38373756;
}

#carousel-most-sold .carousel-indicators {
    position: static;
}

.custom-thumbnail img {
    height: 250px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
}

/*الماركات العالمية*/

.custom-panel {
    border: 4px solid #EEF0EF;
    border-radius: 2px;
    box-shadow: none;
    padding: 20px;
}

.custom-panel .product-images {
    width: 100%;
    margin-bottom: 8px;
}


.custom-panel h4, .custom-panel .price {
    font-size: 130%;
    margin-top: 0px;
    margin-bottom: 18px;
}

.custom-text-muted {
    display: inline-block;
    color: #757575;
}

.custom-arrow-btn {
    border: 1px solid #EBEBEBEB;
    color: #86868686;
    background-color: #fff;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2px;
}

.brand-products {
    margin-bottom: 20px;
}

.brand-text {
    display: inline-block;
    font-weight: bold;
    color: #787878;
}

.brand-products .brand-nav {
    margin-top: 14px;
}

#row-brands h3.custom-heading {
    border-top: 2px solid #EEF0EF;
    padding-top: 25px;
}

#brand-logos {
    background-color: #dbeefa;
    padding: 25px 0;
    width: 100%;
    color: #555555;
}

.img-container img {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 100px;
    max-height: 100px;
}

#footer-nav {
    width: 100%;
    padding: 50px 0 40px;
    background-color: #1f1e1e;
    background-image: url(../images/bg_footer_1.png), url(../images/bg_footer_2.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -15%;
}

#footer-nav-links {
    margin: 30px 0;
}

#footer-nav-links a {
    color: #555555;
    margin-left: 30px;
    font-weight: bold;
}

#footer-nav-links a:hover {
    text-decoration: none;
}

#footer-nav #newsletter {
    border-top: 2px solid #292929;
}

#footer-nav form {
    max-width: 260px;
    margin: auto;
}

input[type=email] {
    direction: rtl;
    text-align: right;
}

.footer-email {
    color: #555555;
    font-weight: bold;
    font-size: 16px;
    margin: 27px 0 16px;
}


#newsletter form input {
    background-color: #313131;
    opacity: .6;
    box-shadow: none;
    height: 38px;
    border: none;
}

#footer-copyright {
    background-color: #151515;
    color: #303030;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
}

#footer-copyright a {
    color: #303030;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width:1199px) {
    .custom-navbar .navbar-nav li a.nav-link {
        padding: 8px;
    }
}

@media (max-width:991px) {
    .navbar-header {
        display: block;
        width: 100%;
        margin-bottom: 22px;
    }
    .custom-navbar {
        padding: 15px 20px 30px;
    }
    .custom-navbar .container {
        max-width: 100%;
    }
    .navbar-header .btn-icons-collapsed, .navbar-header .btn-icons {
        float: left;
        color: #777;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 5px 10px 4px;
        background-color: transparent;
        font-size: 18px;
        margin-left: 4px;
    }
    .navbar-collapse {
        border-top: 1px solid #eee;
        margin-top: 15px;
        padding-top: 8px;
    }
    .custom-navbar .navbar-nav li a.nav-link {
        padding: 10px 15px;
    }
    .form-inline {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }
    .form-inline .dropdown {
        display: none;
    }
    .form-inline .custom-form-control {
        width: 90%;
    }
    .form-inline .search-btn {
        width: 10%;
    }
    #carousel-featured .carousel-indicators {
        margin-right: 1%;
    }
    .overlay {
        display: none;
    }
    .custom-thumbnail .add-to-cart-btn {
        background-color: #fff;
        color: #86868686;
        font-weight: normal;
    }
    .custom-thumbnail img {
        height: 250px;
    }
}

@media (max-width:767px) {
    #carousel-featured, #carousel-featured .product-details {
        height: auto;
    }
    #carousel-featured .product-details {
        position: static;
        text-align: center;
    }
    #carousel-featured {
        padding-bottom: 30px;
    }
    #carousel-featured .carousel-item img {
        height: 250px;
    }
}

@media (max-width:575px) {
    .form-inline .custom-form-control {
        width: 80%;
    }
    .form-inline .search-btn {
        width: 20%;
    }
    #carousel-featured .carousel-item {
        padding: 0px 18px;
    }
}

/*product page*/

.custom-breadcrumb {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    padding: 25px 0;
}

.custom-breadcrumb a:hover {
    color: #F8AD47;
}

.custom-breadcrumb a {
    color: #555555;
    text-decoration: none;
}

.custom-breadcrumb>li+li::before {
    color: #555555;
    padding: 0 5px;
    content: '>';
}

#carousel-product-images .carousel-indicators {
    position: relative;
    top: -35px;
    right: 0;
}

#carousel-product-images .carousel-item img {
    border: 1px solid #EBEBEB;
    width: 100%;
}

.block-100 {
    width: 100%;
    display: block;
}

.product-category {
    color: #a9a9a9;
    font-weight: bold;
}

#form-product-selection h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 18px 0 18px;
    color: #000;
}

#form-product-selection .product-desecription {
    margin: 12px;
    color: #555555;
}

.price.large {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.borders-between>div+div {
    border-top: 2px solid #EBEBEB;
    padding-top: 15px;
    padding-bottom: 15px;
}

.brand, .size-and-color, .product-quantity {
    color: #757575;
    font-weight: bold;
    font-size: 16px;
}

.product-option input {
    display: none;
}

.product-option {
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #EBEBEB;
    text-align: center;
    color: #C2C2C2;
    margin: 3px 3px 9px 3px;
}

.product-option label {
    font-weight: 700;
    display: inline-block;
}

.product-option.active {
    color: #F8AD47;
    border-color: #F8AD47;
}

.color-option.active {
    border: #fff;
    outline: #000 1px solid;
}

.product-quantity select {
    width: 56px;
    height: 34px !important;
    padding: 6px 12px;
    margin-right: 3px;
}

.product-quantity .label {
    padding-top: 10px;
}

.product-quantity {
    padding-bottom: 20px;
}

.custom-btn-with-icon {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
}

.most-desecription {
    color: #757575;
    font-size: 16px;
}

.heading-with-border-bottom {
    border-bottom: 2px solid #EBEBEBEB;
    padding-bottom: 14px;
}

.heading-inline {
    min-width: 250px;
    display: inline-block;
}

.most-desecription {
    border-top: 2px solid #EBEBEBEB;
    padding-top: 14px;
}

.comments {
    border-top: 2px solid #EBEBEBEB;
    padding-top: 14px;
}

.comments .media {
    margin: 15px;
}

.comments .media img {
    height: 80px;
    width: 80px;
    margin-left: 10px;
    border: 1px solid #dfdfdfdf;
}

.suggestions .custom-thumbnail {
    margin-right: -8px;
    margin-left: -8px;
}

.h1.custom-heading {
    font-size: 36px;
    margin: 25px 0;
}

.custom-table .custom-media img {
    width: 80px;
    height: 80px;
    border: 1px solid #EBEBEB;
    margin-left: 10px;
}

.custom-table .custom-media h4 {
    font-size: 18px;
    margin: 12px 0;
}

.custom-table th, .custom-table td {
    padding: 15px;
    border-bottom: 1px solid #EBEBEBEB;
    border-top: 1px solid #EBEBEBEB;
    font-size: 95%;
}

.custom-table th:first-child, .custom-table td:first-child {
    width: 60%;
}

.custom-table td {
    color: #8c8c8c;
    font-weight: normal;
}

.custom-table .quantity {
    width: 50px;
    height: 34px !important;
    padding: 0px 8px;
    margin: auto;
}

.custom-table .total-price * {
    color: #000;
    font-weight: bold;
}

.custom-table .total-price .custom-text-muted .custom-text-muted {
    color: #A9A9A9A9;
}

.custom-input-details {
    border-width: 2px;
    border-radius: 3px;
    height: 43px !important;
    padding: 0 16px;
    font-size: 18px;
    width: 97%;
}

.custom-form-control:focus {
    border-color: #b86d07;
    box-shadow: none;
}

.input-payment {
    color: #000;
}

.custom-heading-payment {
    color: #000;
    font-size: 25px;
    margin-bottom: 15px;
}

#credit-card-info {
    margin-right: 3%;
}

input[type=email], input[type=number], input[type=text] {
    direction: rtl;
    text-align: right;
}

#footer-nav form label {
    margin: 27px 0 16px;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
}
#seacrh-by-category {
    color: #13121275;
    font-size: 16px;
    font-weight: bold;
}

#form-advanced-search {
    border: 1px solid #EBEBEBEB;
    display: table;
    padding-bottom: 20px;
}

#form-advanced-search label {
    cursor: pointer;
    font-weight: bold;
}

#form-advanced-search .custom-panel {
    border: none;
    padding: 5px;
}
.card-header{
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
.custom-panel .card-header {
    background-color: transparent;
    margin-bottom: 15px;
    padding: 7px 10px 15px;
}

.custom-list-group>.list-group-item {
    border: none;
    padding: 0 10px 0 14px;
}

.custom-list-group>.list-group-item:last-child {
    padding: 0 10px 0 10px;
}

.ui-slider {
    margin: 25px 0 15px;
    height: 2px !important;
}

.ui-slider .ui-slider-handle {
    background-color: #f8ad47 !important;
    border: none !important;
    border-radius: 20%;
    height: 12px !important;
    width: 12px !important;
    top: -6px !important;
}

.ui-slider .ui-slider-range {
    border: 1px solid #f8ad47 !important;
    top: -1px !important;
}
.price-slider{
    color: #13121275;
    text-align: center;
}
.custom-pagination li a{
    border: 1px solid #EBEBEBEB;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-right: 3px;
    margin-left: 3px;
    color: #C2C2C2C2;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    margin-top: 12px;
}
.custom-pagination li.active a{
    background-color: #F8AD47;
    border-color: #F8AD47;
    color: #fff;
}
.custom-pagination li a:active,
.custom-pagination li a:focus,
.custom-pagination li a:hover{
    color: #AB7731;
    border-color: #AB7731;
}
#search-results .custom-thumbnail{
    margin-right: -8px;
    margin-left: -8px;
}
#map{
    padding: 0px;
}
#contact-info{
    padding-bottom: 14px;
    
}
.contact-text{
    color: #555;
}
.contact-logo{
    color: #bd802a;
    margin: 6px;
}
.contact-heading{
    padding-bottom: 14px;
}
.custom-form-control-contact{
    border: 2px solid #EBEBEB;
    box-shadow: none;
}
.text-area{
    height: 130px !important;
}